# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
removed/
typings/
cleaner.bat
components.sublime-project
components.sublime-workspace