<div class="row">
  <div class="small-12 columns">
    <h3>Foundation 5 Components in Angular 2</h3>
    <p>
      A few <a href="https://angular.io">Angular 2</a> (version 2.0.0) <a href="http://foundation.zurb.com/">Foundation</a> components.
    <p>
    <p>
      An exercise in following alpha and beta Angular2 releases - updates made as the release cycle progressed until the full 2.0.0 release. There will be different (better) ways to go about building these components, and certainly a more consistent approach.
    </p>
    <p>
      The build/config here is taken directly from the official <a href="https://angular.io/docs/ts/latest/quickstart.html">5 minute quickstart</a>.
    </p>
    <p>
      To get going:
    </p>
    <ul>
      <li>npm install</li>
      <li>npm start</li>
    </ul>
  </div>
</div>
