<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">{{title}}</li>
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/accordion">Accordion</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/breadcrumbs">Breadcrumbs</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/callout">Callout</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/switches">Switches</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/tabs">Tabs</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/tabs-alt">Tabs @alt</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <router-outlet></router-outlet>
  </div>
</div>